@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-0 .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#header1-7 H1 {
  font-size: 84px;
}
#social-buttons2-3 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-b .navbar-toggler {
  color: #ffffff;
}
#menu-b .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-b .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-d .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-g .navbar-toggler {
  color: #ffffff;
}
#menu-g .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-g .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-i .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-l .navbar-toggler {
  color: #ffffff;
}
#menu-l .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-l .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-1f H2 {
  text-align: left;
}
#social-buttons2-n .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-q .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-s .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-v .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-x .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-10 .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-12 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}


#menu-1l .navbar-toggler {
  color: #ffffff;
}
#menu-1l .nav-link {
  font-size: 24px;
  font-family: 'Playfair Display', sans-serif;
}
#menu-1l .navbar-brand {
  font-size: 30px;
  font-family: 'Playfair Display', sans-serif;
}
#msg-box1-1o H2 {
  text-align: left;
}
#social-buttons2-1q .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
